body {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
}

.namelist {
    
}

#topbox {
background-color: cornflowerblue;
width: 100%;
height: 15%;
}

