body{

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assests/body-image2.jpg");
    background-size: cover;
}

.content{
    color:white;
    display: block;
    margin-top: 30%;
    margin-left: 10%;
}

.content h2{
    font-size: 200%;
    font-weight: normal;
}

.content p{
    font-size: 150%;
}